<div

class="
overflow-hidden

rounded-xl

bg-white

shadow-lg

transition

duration-300

hover:-translate-y-2

hover:shadow-2xl

"

>


@if(image)
{

<div

class="
overflow-hidden
"

>

<img

[src]="image"

[alt]="title"

class="
h-64

w-full

object-cover

transition

duration-500

hover:scale-110

"

>

</div>

}




<div

class="
p-6
"

>


@if(icon)
{

<div

class="
text-5xl

text-blue-600
"

>

<i [class]="'fas fa-' + icon"></i>

</div>

}



@if(category)
{

<p

class="
mt-4

text-sm

font-semibold

text-blue-600

"

>

{{category}}

</p>

}




<h3

class="
mt-3

text-2xl

font-bold

text-gray-900

"

>

{{title}}

</h3>




<p

class="
mt-4

text-gray-600

"

>

{{description}}

</p>




@if(link)
{

<a

[routerLink]="link"

class="
mt-6

inline-block

font-semibold

text-blue-600

transition

duration-300

hover:text-blue-800

"

>

Learn More →

</a>

}



</div>


</div>