<!-- HERO -->


<section

class="
relative
overflow-hidden
bg-gray-900
py-24
"

>

<app-hero-video></app-hero-video>

<div

class="
relative
z-10
mx-auto
max-w-7xl
px-6
"

>


<p

class="
text-sm
font-semibold
uppercase
tracking-widest
text-orange-400
"

>
Resources
</p>



<h1

class="
mt-5
text-5xl
font-bold
text-white
"

>
Commercial Property Resources
</h1>



<p

class="
mt-6
max-w-3xl
text-xl
text-gray-300
"

>
Helpful guides and information for property managers,
business owners, and commercial contractors.
</p>


</div>


</section>







<!-- RESOURCE CARDS -->


<section

class="
py-20
"

>


<div

class="
mx-auto
grid
max-w-7xl
gap-8
px-6
md:grid-cols-2
lg:grid-cols-4
"

>


@for(resource of resources; track resource.slug)
{


<div

class="
rounded-xl
bg-white
p-8
shadow-lg
transition
duration-300
hover:-translate-y-2
hover:shadow-2xl
"

>


<div

class="
text-5xl

text-blue-600
"

>
<i [class]="'fas fa-' + resource.icon"></i>
</div>



<p

class="
mt-5
text-sm
font-semibold
text-blue-600
"

>
{{resource.category}}
</p>



<h2

class="
mt-3
text-2xl
font-bold
text-gray-900
"

>
{{resource.title}}
</h2>



<p

class="
mt-4
text-gray-600
"

>
{{resource.description}}
</p>



</div>


}


</div>


</section>







<!-- FUTURE BLOG CTA -->


<section

class="
bg-gray-100
py-20
"

>


<div

class="
mx-auto
max-w-5xl
px-6
text-center
"

>


<h2

class="
text-4xl
font-bold
text-gray-900
"

>
Stay Updated With Surface Tips
</h2>



<p

class="
mt-5
text-lg
text-gray-700
"

>
Read our latest articles on website design,
web development best practices, and growing your business online.
</p>


<a

routerLink="/blog"

class="
mt-8
inline-block
rounded-lg
bg-blue-600
px-6
py-3
font-semibold
text-white
transition
duration-300
hover:-translate-y-1
hover:bg-blue-700
hover:shadow-xl
"

>
Visit the Blog
</a>


</div>


</section>